@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: linear-gradient(
    to top,
    #1e3c72 0%,
    #1e3c72 1%,
    #2a5298 100%
  );
  color: #fff;
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "nav"
    "content";
}

/* Nav */

body {
  background-image: url(../images/fondoPlomeria2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Urbanist", sans-serif;
}

.navbar {
  background-color: #244583;
  grid-area: nav;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  gap: 1em;
  align-items: center;
  padding: 30px 40px;
}

.navbar .nav-header {
  margin: auto;
  display: inline;
}
.navbar .nav-header .nav-logo {
  display: inline-block;
  margin-top: -7px;
}
.navbar .nav-links {
  display: inline;
  float: right;
  font-size: 15px;
}

/*Tipografia menu*/
.navbar .nav-links a {
  font-family: "Urbanist", sans-serif;
  padding: 10px 12px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
}
/* Hover effects */
.navbar .nav-links a:hover {
  background-color: #2a5298;
  border-radius: 6px;
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

@media (max-width: 700px) {
  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /*Icono Hamburguesa*/
  .navbar .nav-btn label {
    display: inline-block;

    width: 80px;
    height: 70px;
    padding: 25px;
  }

  /*Color lineas hamburguesa*/
  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #ffffff;
  }
  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    transition: all 0.5s ease;
  }
  /* Color fondo Menu Hamburguesa*/
  .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(
      to top,
      #1e3c72 0%,
      #1e3c72 1%,
      #2a5298 100%
    );
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 70px;
    right: 0px;
    border-radius: 6px;
  }
  .navbar .nav-links a {
    display: block;
  }

  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }

  .navbar .nav-links .loginBtn {
    padding: 10px 40px;
    margin: 20px;
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    color: rgb(255, 255, 255);
  }
  /* Responsive dropdown code */
  .navbar .nav-links .dropdown,
  .navbar .nav-links .dropdown2 {
    float: none;
    width: 100%;
  }
  .navbar .nav-links .drop-content,
  .navbar .nav-links .drop-content2 {
    position: relative;
    background-color: #22437e;
    top: 0px;
    left: 0px;
  }
  /* Text color sub menu Hamburguesa */
  .navbar .nav-links .drop-content a {
    color: rgb(255, 255, 255);
  }
}

/* Dropdown menu CSS code */
.dropdown {
  position: relative;
  display: inline-block;
}
.drop-content,
.drop-content2 {
  display: none;
  position: absolute;
  background-color: #2a5298;
  border-radius: 6px;
  min-width: 120px;
  font-size: 16px;
  font-family: "Urbanist", sans-serif;
  top: 34px;
}
/* on hover show dropdown */
.dropdown:hover .drop-content,
.dropdown2:hover .drop-content2 {
  display: block;
}
/* Color lineas links */
.drop-content a {
  padding: 12px 10px;
  border-bottom: 1px solid #2a5298;
  display: block;
  transition: all 0.5s ease !important;
}
.dropBtn .drop-content a:hover {
  background-color: rgba(29, 114, 211, 0.402);
}
.dropdown:hover .dropBtn,
.dropdown2:hover .dropBtn2 {
  background-color: rgba(29, 114, 211, 0.402);
}
.dropdown2 .drop-content2 {
  position: absolute;
  left: 120px;
  top: 126px;
}
.dropBtn2 i {
  margin-left: 15px;
}

/* Hero main */

.hero__main__container {
  background-color: #1e3c72;
  grid-area: content;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: stretch;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #fff;
  height: 600px;
}

.hero__waves {
  margin-top: -100px;
  grid-area: auto;
  align-self: end;
}

.hero__title {
  font-family: "Urbanist";
  font-size: 2.5rem;
  margin: 170px 0;
}

.hero__title p {
  font-size: 2.5rem;
  color: #f7c34a;
}

.hero__subtitle {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

/* Testimony */

.subtitlee {
  padding: 10px 0;
  font-size: 1.5rem;
}

.testimony {
  justify-content: center;
  text-align: center;
}

.testimony__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}

.testimony__body {
  margin: 120px 0;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.testimony__body--show {
  pointer-events: unset;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.testimony__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 30%;
}

.testimony__texts {
  max-width: 700px;
}

.testimony__course {
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;
}

.testimony__arrow {
  width: 90%;
  cursor: pointer;
}
/*Sección sobre mi (la app)*/
.sobremi {
  background-color: #ffffff;
  color: #000000;
  padding: 80px 60px;
  text-align: center;
}
.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}
.sobremi h2 {
  font-size: 48px;
  font-family: "Urbanist";
  text-align: center;
  padding: 20px 0;
}
.sobremi .contenido-seccion p {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 40px;
}
.sobremi .contenido-seccion p span {
  color: #ebba51;
  font-weight: bold;
}

@media (max-width: 800px) {
  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #2a5298;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 0.7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .hero__main {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    text-align: center;
  }

  .hero__picture {
    grid-row: 1/2;
  }

  .hero__img {
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }

  .modal__container {
    padding: 2em 1.5em;
  }

  .modal__title {
    font-size: 2rem;
  }
}
